.activitystream-item-content {
  border-bottom: 1px solid #ccc;
}
.activitystream-wrapper .activitystream-item-profile {
  margin-bottom: 20px;
  margin-top: 20px;
}
.activitystream-wrapper .image-profile {
  width: 50px;
  float: left;
  margin-right: 12px;
}
.activitystream-wrapper .activitystream-item-content .caption {
  margin-bottom: 30px;
}

.activitystream-wrapper .activitystream-item-content video {
  width: 300px;
  height: 300px;
}
